{% extends 'layout.html.twig' %}

{% block main %}

    <h1>Afficher Profil {{ utilisateur.username }}</h1>

    <div>
            <label>Nom:</label>{{ utilisateur.nom }} <br>
            <label>Prenom :</label>{{ utilisateur.prenom}} <br>
            <label>Téléphone :</label>{{ utilisateur.telephone }} <br>
            <label>Email :</label>{{ utilisateur.email }} <br>
            <label>Campus :</label>{{ utilisateur.campus.nomCampus }} <br>
    </div>
<form method="post">
    <br> <a id="creerSortie" href="{{ path('accueil') }}">Retour</a>
</form>
{% endblock %}